body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-dark-color);
    background-color: var(--primary-light-color); 
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

*,
::after,
::before  {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
}

.hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

address {
    font-style: normal;
}

h1,h2,h3,h4,h5,h6, p{
    margin-top: 0;
}

:root {
    --primary-dark-color: Black;
    --primary-light-color: rgba(250, 244, 234, 1);
    --brand-color-normal: rgba(129, 155, 87, 1);
    --brand-color-light: rgba(207, 207, 188, 1);
    --brand-color-dark: rgba(70, 89, 41, 1); 
    --secondary-color-dark: rgba(161, 130, 104, 1);
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;   
    padding: 0 24px;
}

.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.header {

}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}


.header-link {
    text-decoration: none;
    line-height: 1.5;
    color: var(--primary-light-color);
}

.header-link:hover {
    color: var(--brand-color-normal);
}

.header-item {
    flex-basis: 1;
}

.button {
    width: 238px;
    height: 59px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--brand-color-normal);
    background: var(--brand-color-normal);
    color: var(--primary-light-color);
    cursor: pointer;
    flex-basis: 1;
}

.button:hover {
    background: transparent;
    color: var(--brand-color-dark);
}
/* MAIN */
.hero-section {
    padding: 272px 0px;
    /* background: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%); */
    background-image: url(./images/bgc-main.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    color: var(--primary-light-color);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--brand-color-normal);
}
/* ADVANTAGES */
.advantages-section {
    background-color: var(--brand-color-normal);
    padding: 16px 0;
}

.advantages-list {
    display: flex;
    gap: 40px;
    padding: 16px 0;
    justify-content: space-between;
}

.advantages-item {
    color: var(--primary-light-color);
    font-size: 20px;
    font-weight: 300;
}

/* TRADITIONS */

.traditions-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.traditions-content {
    max-width: 710px;
}

.traditions-text .uppercase {
    color: var(--brand-color-normal);
    text-transform: uppercase;
    font-weight: 600;
}

.traditions-text.limited{
    max-width: 340px;
}

.traditions-text .brand {
    color: var(--brand-color-normal);
    font-weight: 600;
}
.traditions-title {
    margin-bottom: 42px;
}


.section-title .accent {
    color: var(--brand-color-dark);
}

/* CHEFS */
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chefs-title {
    text-align: center;
    max-width: 520px;
    margin: 0 auto 80px auto;
}

.chefs-title::before,
.chefs-title::after  {
    content: '';
    display: block;
    width: 352px;
    border: 2px solid var(--brand-color-light);
}

.chefs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
}

.chef-item {
    flex-basis: calc((100% - 30px)/2);
}

.chef-article {
    display: flex;
    gap: 30px;
}

.chef-text p{
    margin-bottom: 24px;
}

.chef-text p{
    margin-bottom: 0;
}

.chef-img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0  var(--primary-light-color), -16px 16px 0 2px var(--secondary-color-dark);
}


/* FORMATS */
.format-title {
    font-weight: 600;
    font-size: 24px;
}

.formats-title {
    margin-bottom: 80px;
}

.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.carousel-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--primary-dark-color);
    fill: var(--primary-dark-color);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}


.carousel-button:hover {
    background-color: var(--primary-dark-color);
    fill: var(--primary-light-color);
}

.format-article {
    background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%,  var(--primary-dark-color) 100%);
    padding: 24px;
    height: 444px;
    border: 1px solid rgb(149, 91, 91);
    border-radius: 16px;
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* CONTACTS */
.contact-section {
    padding-bottom: 96px;
}
.contact-title {
    margin-bottom: 16px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-text.colored {
    color: var(--brand-color-dark);
}

.contact-text.small{
    font-size: 12px;
    text-align: center;
    max-width: 240px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: calc((100% - 32px) / 2);
}

.contact-forma {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-input {
    border: 1px solid var(--secondary-color-dark);
    background-color: transparent;
    color: var(--secondary-color-dark);
    border-radius: 8px;
    height: 55px;
}

.contact-map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
}

.address-link {
    color: var(--primary-light-color);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-icon {
    fill: var(--primary-light-color);
}

.address-icon:hover {
    fill: var(--brand-color-normal);
}


.address-link:hover {
    color: var(--brand-color-normal);
}

.address-copyright {
    color: rgba(161, 130, 104, 1);
    font-size: 14px;
}


.footer {
    background-color: var(--primary-dark-color);
    background-image: url('./images/footer-bgc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
    padding: 32px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav, .footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-menu,
.footer-logo{
    flex-grow: 1;
    
}

.address-info, .address-list {
    flex-grow: 1;
}



